
 

    
body {
   background-color: black;
}

html, body {
   color: white;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    font-family: arial;
    overflow: hidden;
 }
  
 .botImage {
    margin-top: 40px;
    width: 35vw;
 }
 
  
 .assistantOutput {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
   width:90%;
  
   
 }
  
 .assistantInput {
    border-radius: 25px;
    margin-top: 20px;
    width: 75%;
    padding: 20px;
    font-size: 20px;
    border: 2px solid rgb(27, 95, 184);
    background-color: black;
    color:white
    
 }
  
 input,
 span,
 img {
    display: block;
    margin: auto;
    text-align: center;
 }
 #voiceButton {
    height: 160px;
    width: 160px;
    margin: 30px auto;
    padding: 0 px;
    border-radius: 50%;
    background-color: rgb(27, 95, 184);
    border-width: 100px;
    border: 2px solid rgb(27, 95, 184);
 }

 #voiceButton:active {
    padding:0px;
   height: 140px;
   width: 140px;
   margin: 30px auto;
   border-radius: 50%;
   background-color: rgb(27, 95, 184);
   border-width: 100px;
   border: 4px solid rgb(27, 95, 184);
   
 }

#loadingGif {
   display: none;
   width:100%; 
   height:200px; 
   margin:0px; 
   padding:0px;
}
body {
   overflow:auto;
}
 
